<?xml version='1.0' encoding='utf-8'?>
<robot name="iam_bot">

    <material name="CHASIS_BLUE">
        <color rgba="0.153 0.165 0.412 1"/>
    </material>

    <material name="WHEEL_BLACK">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="CASTER_SILVER">
        <color rgba="0.588 0.588 0.588 1"/>
    </material>

    <material name="LIDAR_GREY">
        <color rgba="0.392 0.392 0.392 1"/>
    </material>


    <link name="base_link">
        <inertial>
            <origin xyz="-0.0352454543100275 0.0015824434975905933 0.0771364920636392" rpy="0.0 0.0 0.0" />
            <mass value="2.0727419351057805" />
            <inertia ixx="0.015327537605484913" iyy="0.02905353801933924" izz="0.036748890029141605" ixy="-6.726906072750366e-05" iyz="-3.853568720294155e-05" ixz="-0.00014360474475757536" />
        </inertial>
        <visual name="base_link_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="CHASIS_BLUE"/>
        </visual>
        <collision name="base_link_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/base_link_col.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
    </link>

    <link name="top_lidar_sensor">
        <inertial>
            <origin xyz="-0.05327789373475227 0.00024126358345519656 0.032377558645455516" rpy="0.0 -0.0 0.0" />
            <mass value="0.1901726292898517" />
            <inertia ixx="7.658129060059832e-05" iyy="0.00016331534109439213" izz="0.0001829290977721779" ixy="1.2253270879710772e-06" iyz="-6.807822780407666e-07" ixz="3.150541905402307e-05" />
        </inertial>
        <visual name="top_lidar_sensor_visual">
            <origin xyz="0.141589346450088 0.0002412110450169272 -0.21008005000000002" rpy="4.930380657631324e-32 7.778769097326458e-62 0.0" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/top_lidar_sensor.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="LIDAR_GREY"/>
        </visual>
        <collision name="top_lidar_sensor_collision">
            <origin xyz="-0.05 0 0.03" rpy="0.0 -0.0 0.0" />
            <geometry>
                <box size="0.12 0.072 0.055"/>
            </geometry>
        </collision>
    </link>

    <link name="right_caster_connector">
        <inertial>
            <origin xyz="-0.001405018194140224 2.1056239806860333e-05 0.004221942265253964" rpy="0.0 -0.0 0.0" />
            <mass value="0.003960896655885569" />
            <inertia ixx="1.570316210402406e-07" iyy="1.6777567965894916e-07" izz="1.7443859290327656e-07" ixy="5.709200945051732e-10" iyz="-8.589987253227705e-10" ixz="4.1927853383486225e-08" />
        </inertial>
        <visual name="right_caster_connector_visual">
            <origin xyz="-0.20483935624023442 -0.06500879567077626 0.028580049999999954" rpy="3.141592653589793 -1.2863481996731663e-45 -3.141592653589793" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/right_caster_connector.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="CASTER_SILVER"/>
        </visual>
        <collision name="right_caster_connector_collision">
            <origin xyz="-0.005 0 -0.005" rpy="0.0 -0.0 0.0" />
            <geometry>
                <box size="0.01 0.02 0.01"/>
            </geometry>
        </collision>
    </link>

    <link name="right_caster_wheel">
        <inertial>
            <origin xyz="-8.994579037135964e-10 -1.40024513317627e-09 -0.0037378543732345193" rpy="0.0 5.374300886053738e-138 0.0" />
            <mass value="0.014985308319104898" />
            <inertia ixx="4.385314306446463e-07" iyy="4.3853142697914847e-07" izz="7.995957318039654e-07" ixy="-4.1761948595190552e-53" iyz="-1.6940658945086007e-21" ixz="1.4094628242311558e-18" />
        </inertial>
        <visual name="right_caster_wheel_visual">
            <origin xyz="0.19658999444156117 -0.014060202800490156 0.061258795670776245" rpy="-1.5707963267948966 4.1908235589866305e-31 1.2246467991473515e-16" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/right_caster_wheel.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="WHEEL_BLACK"/>
        </visual>
        <collision name="right_caster_wheel_collision">
            <origin xyz="0 0 0.0025" rpy="0 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.011" length="0.01"/>
            </geometry>
        </collision>
    </link>

    <link name="left_caster_connector">
        <inertial>
            <origin xyz="-0.0014050181941392648 2.1056239806878097e-05 0.004221942265253977" rpy="0.0 -0.0 0.0" />
            <mass value="0.003960896655885583" />
            <inertia ixx="1.5703162104011524e-07" iyy="1.677756796585392e-07" izz="1.7443859290273446e-07" ixy="5.709200946203696e-10" iyz="-8.589987253464874e-10" ixz="4.1927853383415075e-08" />
        </inertial>
        <visual name="left_caster_connector_visual">
            <origin xyz="-0.20483935624023444 0.0699912043292236 0.003580050000000039" rpy="3.141592653589793 -1.4464574968665423e-45 -3.141592653589793" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/left_caster_connector.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="CASTER_SILVER"/>
        </visual>
        <collision name="left_caster_connector_collision">
            <origin xyz="-0.005 0 -0.005" rpy="0.0 -0.0 0.0" />
            <geometry>
                <box size="0.01 0.02 0.01"/>
            </geometry>
        </collision>
    </link>

    <link name="left_caster_wheel">
        <inertial>
            <origin xyz="-8.994579392407331e-10 -1.400245086546903e-09 -0.0037378543732344395" rpy="0.0 -0.0 0.0" />
            <mass value="0.007044049388216182" />
            <inertia ixx="2.0613770434113236e-07" iyy="2.0613770261880267e-07" izz="3.758609236130891e-07" ixy="8.470329472543003e-21" iyz="-2.541098841762901e-21" ixz="7.047314121155779e-19" />
        </inertial>
        <visual name="left_caster_wheel_visual">
            <origin xyz="0.19520284916805397 0.0309184124293078 -0.07374120432922356" rpy="-1.570796326794893 1.0487101509042141e-29 1.2246467991473535e-16" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/left_caster_wheel.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="WHEEL_BLACK"/>
        </visual>
        <collision name="left_caster_wheel_collision">
            <origin xyz="0 0 -0.0025" rpy="0 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.011" length="0.01"/>
            </geometry>
        </collision>
    </link>

    <link name="left_wheel">
        <inertial>
            <origin xyz="-8.568746958559359e-07 1.4811812641379873e-06 0.018754761281871434" rpy="0.0 -0.0 0.0" />
            <mass value="0.5599991469099156" />
            <inertia ixx="0.0002849471864668895" iyy="0.00028495462828476495" izz="0.00044933007774218894" ixy="-1.2132178942044109e-12" iyz="-1.4211056054184018e-08" ixz="8.202990692991942e-09" />
        </inertial>
        <visual name="left_wheel_visual">
            <origin xyz="-1.9665515793576562e-09 1.1877144601157853e-10 4.451904072055868e-09" rpy="3.141592653589793 1.2246467991473532e-16 2.5407181807811967e-33" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/left_wheel.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="WHEEL_BLACK"/>
        </visual>
        <collision name="left_wheel_collision">
            <origin xyz="0 0 0.0275" rpy="3.0065623868209316e-15 9.473267377050172e-16 1.5707963267948957" />
            <geometry>
                <cylinder radius="0.053" length="0.055"/>
            </geometry>
        </collision>
    </link>

    <link name="right_wheel">
        <inertial>
            <origin xyz="-8.566689725597598e-07 1.4809437212459642e-06 0.018754755483734335" rpy="0.0 -0.0 0.0" />
            <mass value="0.559999146909916" />
            <inertia ixx="0.00028494718646688774" iyy="0.0002849546593902824" izz="0.000449330108847696" ixy="-1.2130496260254198e-12" iyz="-1.4211056053280158e-08" ixz="8.205151334414462e-09" />
        </inertial>
        <visual name="right_wheel_visual">
            <origin xyz="0.26999999803344843 -1.1877143712979432e-10 -1.3462330272773216e-09" rpy="3.141592653589793 -0.0 0.0" />
            <geometry>
                <mesh filename="package://iam_bot/meshes/right_wheel.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="WHEEL_BLACK"/>
        </visual>
        <collision name="right_wheel_collision">
            <origin xyz="0 0 0.0275" rpy="3.0065623868209316e-15 9.473267377050172e-16 1.5707963267948957" />
            <geometry>
                <cylinder radius="0.053" length="0.055"/>
            </geometry>
        </collision>
    </link>

    <joint name="top_lidar_fixed" type="fixed">
        <origin xyz="0.12119571000000001 0.00233422 0.14008005" rpy="0.0 -0.0 0.0" />
        <parent link="base_link" />
        <child link="top_lidar_sensor" />
    </joint>

    <joint name="right_caster_connector_revolute" type="continuous">
        <origin xyz="0.07619571 -0.06266578 0.02858005" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_link" />
        <child link="right_caster_connector" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="right_caster_wheel_revolute" type="continuous">
        <origin xyz="-0.008249359999999992 -0.00375 0.014519849999999999" rpy="1.5707963267948966 1.5557538194652854e-61 -2.465190328815662e-32" />
        <parent link="right_caster_connector" />
        <child link="right_caster_wheel" />
        <axis xyz="-2.465190328815662e-32 3.454467422037821e-77 -1.0" />
    </joint>

    <joint name="left_caster_connector_revolute" type="continuous">
        <origin xyz="0.07619571 0.07233422 0.02858005" rpy="3.141592653589793 -0.0 0.0" />
        <parent link="base_link" />
        <child link="left_caster_connector" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="left_caster_wheel_revolute" type="continuous">
        <origin xyz="-0.008249359999999992 -0.00375 0.014519849999999999" rpy="1.5707963267948966 -0.0 8.49445851048923e-121" />
        <parent link="left_caster_connector" />
        <child link="left_caster_wheel" />
        <axis xyz="8.49445851048923e-121 0.0 -1.0" />
    </joint>

    <joint name="left_wheel_revolute" type="continuous">
        <origin xyz="-0.16448079000000002 0.13288779 0.055330050000000006" rpy="-1.5707963267948968 -0.0 0.0" />
        <parent link="base_link" />
        <child link="left_wheel" />
        <axis xyz="0.0 -2.2204460492503126e-16 1.0" />
    </joint>

    <joint name="right_wheel_revolute" type="continuous">
        <origin xyz="-0.16448079000000002 -0.1367206 0.055330050000000006" rpy="1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="right_wheel" />
        <axis xyz="0.0 0.0 -1.0" />
    </joint>

    <joint name="camera_pole_fixed" type="fixed">
        <origin xyz="-0.08 0.00 0.18" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="camera_pole_link"/>
    </joint>

    <link name="camera_pole_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.05"/>
            <inertia
            ixx="1e-5" ixy="0" ixz="0"
            iyy="1e-5" iyz="0"
            izz="1e-5"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <cylinder radius="0.01" length="0.08"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <cylinder radius="0.01" length="0.08"/>
            </geometry>
            <material name="CASTER_SILVER"/>
        </visual>
    </link>

    <joint name="camera_fixed" type="fixed">
        <origin xyz="0 0 0.04" rpy="0 -0.4 0"/>
        <parent link="camera_pole_link"/>
        <child link="camera_link"/>
    </joint>

    <link name="camera_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.02"/>
            <inertia
            ixx="1e-5" ixy="0" ixz="0"
            iyy="1e-5" iyz="0"
            izz="1e-5"/>
        </inertial>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <sphere radius="0.02"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <sphere radius="0.02"/>
            </geometry>
            <material name="WHEEL_BLACK"/>
        </visual>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
    </joint>

    <gazebo reference="camera_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <!--   gz publishers   -->
    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <right_joint>right_wheel_revolute</right_joint>
            <left_joint>left_wheel_revolute</left_joint>

            <wheel_separation>0.27</wheel_separation>
            <wheel_radius>0.053</wheel_radius>

            <max_linear_acceleration>10</max_linear_acceleration>

            <topic>cmd_vel</topic>
        </plugin>

        <plugin
            filename="gz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_publish_frequency>50</odom_publish_frequency>
            <odom_topic>/odom</odom_topic>
            <tf_topic>/tf</tf_topic>
            <dimensions>2</dimensions>
        </plugin>
      
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>right_wheel_revolute</joint_name>
            <joint_name>left_wheel_revolute</joint_name>
            <joint_name>right_caster_connector_revolute</joint_name>
            <joint_name>right_caster_wheel_revolute</joint_name>
            <joint_name>left_caster_connector_revolute</joint_name>
            <joint_name>left_caster_wheel_revolute</joint_name>
        </plugin>
    </gazebo>

    <!--   LIDAR   -->
    <gazebo reference='top_lidar_sensor'>
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <pose relative_to='top_lidar_sensor'>0 0 0.1 0 0 0</pose>
            <topic>scan</topic>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>300</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.01</min_angle>
                        <max_angle>3.01</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>0.01</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <!--   IMU   -->
    <gazebo reference='base_link'>
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
        </sensor>
    </gazebo>
  
  <!--   CAMERA   -->
    <gazebo reference="camera_link">
        <sensor name="sim_camera" type="camera">
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>20.0</far>
                </clip>
                <camera_info_topic>camera/camera_info</camera_info_topic>
            </camera>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <topic>camera/image</topic>
        </sensor>
    </gazebo>

</robot>

